/* CLASSI UTILITY */

    /* TESTO */
    .cw {
        color: white;
    }
    .cb{
        color:rgb(107,173,227);
    }
    .ts{
        letter-spacing:3px
    }
    .tj{
        text-align: justify;
    }

    /* ALLINEAMENTO */
    .tac {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .tacr {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }
    .tae {
        display:flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    .tacl{
        display:flex;
        align-items: center;
    }

    /* WIDTH FULL */
    .wfll{
        width: 100%;
    }

    /* MARGIN/PADDING */
    .mrg-xxs{
        margin-top: 5px;
    }
    .mrg-s{
        margin-top: 10px;
        }
    .mrg{
        margin-top: 24px;
        }
    .mrg-l{
        margin-top: 48px;
        }  
    .mrg-xl{
        margin-top: 72px;
        }  
    .pdg{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .pdg-l{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pdg-xl{
        padding-top: 72px;
        padding-bottom: 72px;
    }
    .pdg-t{
        padding-top: 24px;
    }
    .pdg-t-l{
        padding-top: 48px;
    }
    .pdg-b{
        padding-bottom: 24px;
    }
    .pdg-b-l{
        padding-bottom: 48px;
    }
    .pdg-b-xl{
        padding-bottom: 72px;
    }

/* START */

/* SEZ 1 */

/* SEZ 2*/

    /* INGREDIENTS BOX */
    .box img{
        height: 60px;
        width:auto;
    }
   
/* SEZ 3*/    

    /* FOOTE */
    footer{
        height: 100px;
        background-color: blueviolet;
    }


    
    /* SMALL TOP BAR */
    .small-top-bar{ 
        height: 36px;
        background-color: black;
        padding-right: 10px;
        top: 0;
        position: sticky;
        z-index: 1001;
    }
    .small-top-bar img{
        height: 40%;    
    }

    .nav-link.active .cane{
        vertical-align: middle;
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color: rgb(0,112,209);
    }
    .nav-item{
        margin-right:10px;
    }
    .nav-item .btn.btn-danger{
        border-radius: 50px;
        background-color: black;
        border: black;
    }
    .nav-item img{
        width: 60%;
        height: auto;
        
    }

    /* NAV */
    .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active{
        color: black;
    }

    .sticky-nav{
        top: 0;
        position: sticky;
        z-index: 1001;
        position:-webkit-sticky; 
    }
  
    /* JUMBO 1*/
    .j-background-a{
        background-image: url(../img/jumbo-bg.png);
    }
    .jumbo{
        overflow-y: scroll;
        width: 100%;
        height: calc( 100vh - 100px);
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    .j-logo img{
        width: 100%;
        height: auto;
    }
    .j-button .btn.btn-danger{
        border-radius: 50px;
        background-color: rgb(193,58,15);
        border: rgb(193,58,15);
    }

    /*JUMBO THUMBS */
    .g-thumb-img-rad img{
        width: 100%; 
        height: auto;
        border-radius:20px;
        margin: 2px
    }
    .g-thumb{
        margin-bottom: 24px;  
    }
     /* PS5 */
    .psx-title.bottom{
        opacity: 0.7;
        font-size: calc(1rem*1.25);
        max-width: 870px;
        text-align: center;
    }
    .psx-core-i-text, .ps4-text, .shop-text{
        opacity: 0.7;
        font-size: calc(1rem*1.25);
    }
    .psx-core-img img{
        width: 100%; 
        height: auto;
    }
    .psx-core-button .btn.btn-danger{
        border-radius: 50px;
        background-color: royalblue;
        border: royalblue;
    }

    /* PS5 TUMBS */
    .psx-thumb-img {
        width: 80%; 
        height: auto;
    }
    .psx-thumb-img img{
        opacity: 0.7;
        width: 80%;
        height: auto;
    }
    .psx-thumb .psx-tumbs-text{
        text-align: center;
    }
    .psx-tumbs-text{
        height: 70px;
    }

/* SEZ 2 */

    /* JUMBO 2 */
    .j-background-b{
        background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    }

    /* JUMBO THUMBS 2 */
    .game-thumbs-second{
        background-color:rgb(31, 31, 31);
    }
    /* .g-thumb-img-rad img riga 143 */
 
/* SEZ 3 */

    /* PS4 */
    .ps4-thumb-img img{
        width: 100%;
        height: auto;
    }

    /* PLAYPLUS */
    .playplus-cont{
        background-color: rgb(190,188,187);
        padding-top: 0px;
    }
    .playplus-core{
        display: flex;
        flex-wrap: wrap;
    }
    .playplus-img img{
        width: 100%;
        height: auto;
    }
    .playplus-button .btn.btn-danger{
        color:rgb(45, 100, 230); 
        border-radius: 50px;
        background-color: rgb(217, 218, 220);
        border: rgb(217, 218, 220);
    }
    .playplus-logo img{
        width: 100%;
        height: auto;
    }
    .playplus-featured{display:none}

/* SEZ 4 */

    /* SHOP TUMBS */
    .shop-thumb-img img{   
        width: 100%;
        height: auto;
    }
    /* PLAYNOW */
    .playnow-cont{
        background-color: rgb(22, 28, 59);
        padding-top: 0px;
    }
    .playnow-core{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .playnow-img img{
        width: 100%;
        height: auto;
    }
    .playnow-button .btn.btn-danger{
        color:black; 
        border-radius: 50px;
        background-color: rgb(217, 218, 220);
        border: rgb(217, 218, 220);
    }
    .playnow-logo img{
        width: 100%;
        height: auto;
    }
    .playnow-text{
        color: white;
    }
    .playnow-featured{display:none}

/* SEZ 5 */

    /* SOCIAL */
    .social.row{
        max-width: 768px;
        margin: auto;
    }
    .social-thumb-img img{
        width: 100%;
        height: auto;
    }

    /* FOOTER */
    .footer-cont{
        background-color: rgb(0, 67, 156);
        padding-top: 64px;
        padding-bottom: 64px;
        color: white;
    } 
    .footer-img img{
        width: 100%;
        max-width: 96px;
        height: auto;
    }
    ul {
        list-style-type: none;
    }
    .foo-link ul{
        margin-bottom: 0;
    }
    .copyright-text{
        font-weight: 400;
        font-style: normal;
        line-height: 1.5em;
    }
    /* NB XL Avrei potuto usare tante row */
    @media only screen and (min-width: 1200px) { 
        .right-offset-0  {margin-right: 0;}
        .right-offset-1  {margin-right: calc((100% / 12) *  1);}
        .right-offset-2  {margin-right: calc((100% / 12) *  2);}
        .right-offset-3  {margin-right: calc((100% / 12) *  3);}
        .right-offset-4  {margin-right: calc((100% / 12) *  4);}
        .right-offset-5  {margin-right: calc((100% / 12) *  5);}
        .right-offset-6  {margin-right: calc((100% / 12) *  6);}
        .right-offset-7  {margin-right: calc((100% / 12) *  7);}
        .right-offset-8  {margin-right: calc((100% / 12) *  8);}
        .right-offset-9  {margin-right: calc((100% / 12) *  9);}
        .right-offset-10 {margin-right: calc((100% / 12) * 10);}
        .right-offset-11 {margin-right: calc((100% / 12) * 11);}
    }

    @media only screen and (min-width: 768px) { 
        .playplus-featured{display: inline-block;}
        .playnow-featured{display:inline-block}
    
    }


/* EXTRA */

    /* ZOOM HOVER THUMBS */
    .g-thumb-img-rad:hover{
        margin: 0px -4px -8px -4px;
    }
    .psx-thumb-img img:hover{
        width: 100%;
        margin-bottom: 21px;
        opacity: 1;
    }
    .psx-thumb-img:hover .psx-tumbs-text{
        display: none;
    }

    
    